<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}|">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加学生信息</h1>
<form action="/stu/add" method="post">
    姓名：<input type="text" name="sname" value=""/><br>
    年龄：<input type="text" name="age" value=""/><br>
    班级：<input type="text" name="cid" value=""/><br>
    <input type="submit" value="提交" id="add"/>
</form>
<!--<script type="text/javascript">
    $(function () {
        $("#id").click(function () {

        })
    })
</script>-->
</body>
</html>